$lead-font-size: 5rem;
$lead-font-weight: 800;
@import 'bootstrap/scss/bootstrap.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: white;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.dropShadow {
  -webkit-filter: drop-shadow(1px 1px 1px black);
  filter: drop-shadow(1px 1px 1px black);
}

.dropShadowWhite {
  -webkit-filter: drop-shadow(2px 2px 2px white);
  filter: drop-shadow(2px 2px 2px white);
}