.header {
  position: relative;
  height: 30rem;
  margin-bottom: 3rem;
  background-image: url('../images/heroBeach.jpg');
  background-size: cover;
  background-position: center;
}

.top {
  position: relative;
  z-index: 10;
  height: 0;
  letter-spacing: 1.5;
}

.gray {
  position: relative;
  z-index: 10;
  top: 3.5rem;
  height: 23rem;
  max-width: 100vw;
  margin: 0 auto;
  background-color: black;
  opacity: 0.3;
}

.greeting {
  position: relative;
  z-index: 10;
  top: -25rem;
  width: 90vw;
  max-width: 1400px;
  margin: 0 auto;
}

.h1, .h2 {
  transform: translateY(10rem);
;
}

.h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.1px;
  text-shadow: 1px 1px 1px white;
  -webkit-filter: drop-shadow(2px 2px 2px var(--blue));
  filter: drop-shadow(2px 2px 2px var(--blue))
}

.h2 {
  color: white;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  margin: 3rem 2rem -3rem 0;
  -webkit-filter: drop-shadow(2px 2px 2px black);
  filter: drop-shadow(2px 2px 2px black)
}

.button {
  position: relative;
  z-index: 11;
}

@media (max-width: 575px) {
  .h2 {
    font-size: 1.5rem;
  }
  .h5 {
    font-size: 1rem;
  }
}
