.h1, .h2 {
  transform: translateY(-2rem);
  text-shadow: 1px 1px 1px white;
  -webkit-filter: drop-shadow(2px 2px 2px skyblue);
  filter: drop-shadow(2px 2px 2px skyblue);
}

@media (min-width: 650px) {
  .h1, .h2 {
    transform: translateY(-6rem);
    font-size: 3rem;
  }
  .h2 {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .h1, .h2 {
    transform: translateY(-10rem);
    font-size: 3.5rem;
  }
  .h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1000px) {
  .h1, .h2 {
    transform: translateY(-20rem);
    font-size: 4rem;
  }
  .h2 {
    font-size: 3rem;
  }
}