.nav {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  transform: translateY(-3rem);
}

.navLink {
  font-size: 1.5rem;
  font-weight: 400;
  -webkit-filter: drop-shadow(2px 2px 2px white);
  filter: drop-shadow(2px 2px 2px white);
}

.logo {
  transform: translateY(3rem);
  width: 8rem;
  -webkit-filter: drop-shadow(2px 2px 2px white);
  filter: drop-shadow(2px 2px 2px white);
}

@media (max-width:700px) {
  .nav {
    transform: translateY(-2rem);
  }
  .logo {    
    transform: translateY(2.25rem);
    width: 4rem;
  }
}

@media (max-width:650px) {
  .nav {
    transform: translateY(-1rem);
  }
  .logo {    
    transform: translateY(.5rem);
    width: 3rem;
  }
}
